@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

.custom-shadow {
  /* @apply 0 0 4px rgba(0, 0, 0, 0.1); */
  /* @apply border; */
  border-radius: inherit;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.btn-shadow {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(225, 70, 33, 0.1);
}

.my-own {
  @apply ml-auto;
}

.card {
  @apply relative;

  .icon {
    @apply hidden;
  }

  &:hover {
    .icon {
      @apply block absolute top-3 right-2 cursor-pointer;
    }
  }
}

body {
  @apply overflow-x-hidden;   
}




@media screen and (min-width: 768px) {
  .products {
    width: calc(100% - 470px);
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .products {
    width: 100%;
    margin-left: auto;
  }
}

.card {
  flex: 1 1 500px;
  height: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .card {
    flex: 1 0 500px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1px) {
  .card {
    max-width: calc(100% - 1em);
  }
}

@media screen and (max-width: 600px) and (min-width: 301px) {
  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (max-width: 767px) and (min-width: 601px) {
  .card {
    max-width: calc(33.33% - 1em);
  }
}

@media screen and (max-width: 859px) and (min-width: 768px) {
  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (max-width: 1024px) and (min-width: 860px) {
  .card {
    max-width: calc(33.33% - 1em);
  }
}

@media screen and (max-width: 1230px) and (min-width: 1025px) {
  .card {
    max-width: calc(25% - 1em);
  }
}

@media screen and (min-width: 1231px) {
  .card {
    max-width: calc(20% - 1em);
  }
}

@media screen and (min-width: 90em) {
  .item {
    border: 1px solid purple;
      max-width: calc(33.33% - 1em);
  }
}

@media screen and (min-width: 120em) {
  .item {
    border: 1px solid green;
      max-width: calc(50% - 1em);
  }
}