@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  /* @apply 0 0 4px rgba(0, 0, 0, 0.1); */
  /* @apply border; */
  border-radius: inherit;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.btn-shadow {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(225, 70, 33, 0.1);
}

.my-own {
  @apply ml-auto;
}

.card {
  @apply relative;

  .icon {
    @apply hidden;
  }

  &:hover {
    .icon {
      @apply block absolute top-3 right-2 cursor-pointer;
    }
  }
}

body {
  @apply overflow-x-hidden;   
}